/*
	The Holidays Code
 */

.code pre {
	color: #000;
	background-color: #fff;
}

.code .hljs-keyword,
.code .hljs-literal,
.code .hljs-variable {
	color: #0000e6;
}

.code .hljs-type {
	color: #0000e6;
}

.code .hljs-number {
	color: #000;
}

.code .hljs-string {
	color: #ce7b00;
}

.code .hljs-template-tag,
.code .hljs-meta-string,
.code .hljs-regexp {
	color: #ce7b00;
}

.code .hljs-comment {
	color: #969696;
}

.code .hljs-selector-class,
.code .hljs-selector-pseudo,
.code .hljs-selector-attr,
.code .hljs-selector-id {
    color: #009900;
}

.code .hljs-selector-tag {
    color: #0000e6;
}

.code .hljs-attribute {
	color: #0000e6;
}

.code .hljs-name {
	color: #0000e6;
}

.code .hljs-tag {
	color: #0000e6;
}

.code .hljs-attr {
  color: #009900;
}

.code .hljs-meta,
.code .hljs-meta-keyword {
  color: #0000e6;
}

.code .hljs-property {
    color: #009900;
}

.code .hljs-title {
    color: #000;
    font-weight: bold;
}

.code .hljs-title.function_ {
    color: #000;
    font-weight: bold;
}

.code .hljs-title.class_ {
    color: #000;
    font-weight: bold;
}

.code .hljs-built_in,
.code .hljs-builtin-name {
	color: #000;
}

.code .hljs-link {
  text-decoration: underline;
}

.code .hljs-section {
  color: #009900;
}

.code .hljs-bullet {
  color: #0000e6;
}

.code .hljs-subst,
.code .hljs-class,
.code .hljs-symbol,
.code .hljs-function,
.code .hljs-params,
.code .hljs-formula,
.code .hljs-quote,
.code .hljs-doctag,
.code .hljs-template-variable {
	color: #000;
}

.code .hljs-addition {
	display: inline-block;
	width: 100%;
	color: rgb(155, 185, 85);
	background-color: rgba(156, 204, 44, 0.25);
}

.code .hljs-deletion {
	display: inline-block;
	width: 100%;
	color: rgb(255, 0, 0);
	background-color: rgba(255, 0, 0, 0.2);
}

.code .hljs-emphasis {
	font-style: italic;
}

.code .hljs-strong {
	font-weight: bold;
}
